#footer{
    margin-top: 30px;
    padding: 10px;
    color: #fff;
    background: #375a7f;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#footer p{
   margin-bottom: 0px ;
}
legend{
    margin-top: 10px;
}

.line{
    width: 100%;
    border: 1px solid #ffffff;
}

.descr{
    width: 65%;
}